<div class="container container-fluid" style="margin-top: 180px;">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card card-primary">
        <div class="card-header">
        <h3 class="card-title">Quick Example</h3>
        </div>
        <form>
        <div class="card-body">
        <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        </div>

        <div class="card-footer">
        <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
        </div>
        </form>
        </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
